
@font-face {
  font-family: "Roboto";

  src: url("../fonts/Roboto.ttf") format("truetype");

  font-weight: 100 900;
}

@media screen and (max-width: 600px) {
 html, body {
    background-color: white;
    margin: 0px;
    padding: 0px;
  }

  body {
    padding: 10px;
    margin: 10px
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff;
    color: white;
  }
}


body {
  background-color: black;
  margin: 20px auto;
  max-width: 1100px;
  border: 2px solid #FFC107;
  padding: 20px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

h1,h2,h3 {
  color: #FFC107;
  font-weight: 700;
}

h1 {
  border-bottom: #ffcc80 2px solid;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 150%;
}

h2 {
  font-size: 1.2em;
}

h3 {
  color: #FFC107;
}

h3.borderline {
  border-top: #ffcc80 2px solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding-top: 10px;
}


p {
  color: #ffffff;
}

  .needboldertext {
  color: #ffffff;
}

p.tony {
  color: white;
  font-weight: bold;
}

a {
  color: #90caf9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em.email {
  color: #90caf9;
  font-style: normal;
  text-decoration: blink; 
}

.why {
  background-color: #2A2A2A;
  border: 1px solid #2A2A2A;
  border-left: #FFC107 5px solid;
  font-size: 1.1em;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

.favoritequote {
  background-color: #2A2A2A;
  border: 1px solid #2A2A2A;
  border-radius: 8px;
  border-left: 5px solid #FFC107;
  padding: 20px 25px;
  margin: 30px 0;

  font-style: italic;
  font-size: 1.1em;
  color: #E0E0E0;
}

.favoritequote footer {
  background-color: transparent;
  text-align: right;
  padding: 0;
  margin: 0;

  color: #A0A0A0;
  font-size: 0.9em;
  font-style: normal;
  font-weight: bold;

  border-top: 1px dashed #3A3A3A;
  padding-top: 10px;
}


footer {
  background-color: black;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  margin-top: 20px;
  color: #A0A0A0;
}

footer p {
  color: #A0A0A0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}