body {
  background-color: #1E1E1E;
  margin: 20px auto;       
  max-width: 1100px;       
  border: 2px solid #FFC107;
  padding: 10px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

@font-face {
    font-family:"Roboto";

    src: url("../fonts/Roboto.ttf") format("truetype");
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 1.2em;
}