body {
  background-color: #1E1E1E;
  margin: 20px auto;       
  max-width: 1100px;       
  border: 2px solid #FFC107;
  padding: 10px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: normal;
  line-height: 1.6;
  color: white;
}

@font-face {
    font-family:"Roboto";

    src: url("../fonts/Roboto.ttf") format("truetype");
}

h1,
h2 {
  color: #777777;
  text-decoration: underline;
}

h1 {
  font-family: italic;
  font-size: 220%;
  font-weight: bold;
  border-bottom: 2px solid #FFC107;
}

h2 {
  font-size: 130%;
  font-weight: bold;
}

blockquote {
  font-style: italic;
  color: #CCCCCC;
  border-left: 4px solid #FFC107;
  margin: 10px 20px;
  padding-left: 10px;
}